---
const pageTitle = "私について";

const identity = {
  firstName: 'Daichi',
  country: 'Japan',
  occupation: 'エンジニア'
}

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">ホーム</a>
    <a href="/blog/">ブログ</a>

		<h1 class="text-3xl font-bold">私のAstro</h1>
    <h1 class="text-3xl font-bold">{pageTitle}</h1>
    <h2 class="text-xl font-bold">...そして私の新しいAstroサイトについて!</h2>

    <p>私はAstroの入門チュートリアルを進めています。これは私のウェブサイトの2番目のページで、自分で作った初めてのページです!</p>

    <p>このサイトはチュートリアルを進めるにつれて更新されていきます。定期的にチェックして、私の旅の様子を見に来てください！</p>

    <ul>
      <li>私の名前は{identity.firstName}です。</li>
      <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
    </ul>
    <p>私のスキルは以下の通りです。</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
	</body>
</html>
